In [7]:
from cosmograph_widget import Cosmograph
import pandas as pd
from IPython.display import display

In [8]:
points = pd.DataFrame([
  { 'index': 0, 'id': '1', 'color': '#88C6FF' },
  { 'index': 1, 'id': '2', 'color': '#FF99D2' },
  { 'index': 2, 'id': '3', 'color': '#E3116C' },
])
points

   index id    color
0      0  1  #88C6FF
1      1  2  #FF99D2
2      2  3  #E3116C

In [9]:
links = pd.DataFrame([
  { 'sourceidx': 0, 'source': '1', 'targetidx': 1, 'target': '2' },
  { 'sourceidx': 0, 'source': '1', 'targetidx': 2, 'target': '3' },
  { 'sourceidx': 1, 'source': '2', 'targetidx': 2, 'target': '3' },
])
links

   sourceidx source  targetidx target
0          0      1          1      2
1          0      1          2      3
2          1      2          2      3

In [11]:
cosmo = Cosmograph(points=points, links=links,
   point_id='id',
   point_index='index',
   point_color='color',
   link_source='source',
   link_source_index='sourceidx',
   link_target='target',
   link_target_index='targetidx',
)
display(cosmo)

Cosmograph(background_color=None, default_link_color=None, default_point_color=None, focused_point_ring_color=â€¦

In [13]:
cosmo.fit_view()