In [1]:
%load_ext autoreload
%autoreload 2
%env ANYWIDGET_HMR=1

env: ANYWIDGET_HMR=1

In [2]:
from cosmograph_widget import Cosmograph
import pandas as pd
# dir(Cosmograph)

In [3]:
points = pd.read_json('./points.json')
points.head(3)

,id,index,value,value2,date,time,color,label
0,0,0,-5,116,2022-11-25 03:25:04.851000+00:00,1970-01-01T01:20:59.956Z,#bab0ab,offence
1,1,1,17,155,2020-08-21 06:38:36.826000+00:00,1970-01-01T00:40:26.814Z,#9c755f,analytics
2,2,2,-31,51,2012-05-15 07:34:20.927000+00:00,1970-01-01T01:07:34.760Z,#9c755f,minor-league

In [4]:
links = pd.read_json('./links.json')
links.head(2)

,source,sourceidx,date,time,color,target,targetidx
0,0,0,2012-02-08 11:17:27.900000+00:00,1970-01-01T01:06:54.149Z,#4e79a7,1,1
1,0,0,2012-02-08 11:17:27.900000+00:00,1970-01-01T01:06:54.149Z,#4e79a7,92,92

In [5]:
cosmo = Cosmograph(points=points, links=links,
           point_id='id',
           point_index='index',
           point_color='color',
           point_label='label',
           point_include_columns=['value', 'value2'],
           link_source='source',
           link_source_index='sourceidx',
           link_target='target',
           link_target_index='targetidx',
           link_color='color',
           link_width='value'
        )
cosmo

Cosmograph(background_color=None, default_link_color=None, default_point_color=None, focused_point_ring_color=â€¦

In [8]:
# cosmo.activate_rect_selection()
cosmo.deactivate_rect_selection()

In [11]:
cosmo.selected_point_indices

[1, 2, 3, 4, 5]

In [10]:
cosmo.select_points_by_indices([1,2,3,4,5])
# cosmo.select_points_by_indices([]) # unselect points

In [13]:
cosmo.focus_point(5)
# cosmo.focus_point()

In [17]:
# cosmo.fit_view()
# cosmo.fit_view_by_indices([1,2,3,4,5], 250, 0.1)
cosmo.fit_view_by_coordinates([1400, 1400, 2500, 2500], 2000)

In [ ]:
cosmo.background_color = 'hotpink'
# cosmo.background_color = 'gold'